
<header class="header">
  <nav>
    <div class="container has-text-centered">
      <br>

      <a class="title is-3" href="/">{{ site.title }}</a>
      <br>

      <p style="margin: 0 0 0 0">
        {% for page in site.data.pages %}
          <a class="subtitle is-6" target="{% if page.external %} _blank {% endif %}" href="{{ page.link }}">{{ page.name }}</a>
          {% if forloop.last == false %}
            &middot;
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </nav>
</header>
