
<head>

  <!-- Metadata -->
  <meta charset="utf-8">

  <meta name="description" content="The unapologetic proclamations of a layman.">
  <meta name="author" content="Chris Carter">
  <meta name="keywords" content="Christianity,Apologetics,Philosophy,Culture">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site title -->
  <title>{{ site.title }}</title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/assets/css/mystyles.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144214802-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-144214802-3');
  </script>

  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/6df62b7563.js" crossorigin="anonymous"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

</head>
