
<br>

<div class="container">
  <div class="columns is-mobile">

    <!-- Filler column -->
    <div class="column"></div>

    <!-- Center content column -->
    <div class="column is-four-fifths-mobile is-two-thirds-tablet is-three-fifths-desktop is-three-fifths-widescreen is-three-fifths-fullhd">

      <nav class="level">

        <!-- Title -->
        <div class="level-left">
          <div class="level-item">
            <a class="title is-3 is-white" href="/">{{ site.title }}</a>
          </div>
        </div>

        <!-- Pages -->
        <div class="level-right">
          <div class="level-item">
            <a class="title is-6 is-centered" href="/articles/">Articles</a>
          </div>

          <div class="level-item">
            <a class="title is-6 is-centered" href="/blog/">Blog</a>
          </div>

          <div class="level-item">
            <a class="title is-6 is-centered" href="/about/">About</a>
          </div>
        </div>

      </nav>

    </div>

    <!-- Filler column -->
    <div class="column"></div>

  </div>
</div>

<br>
<br>
