
<!-- Paginator -->
<div class="columns is-mobile">

  <div class="column">
    {% if page.previous.url %}
      <div class="container">
        <a href="{{ page.previous.url | prepend: site.baseurl }}">
          <p class="subtitle is-5" style="margin: 0 0 0 0">
            Previous
          </p>
        </a>
      </div>
    {% endif %}
  </div>

  <div class="column">
    {% if page.next.url %}
      <div class="container" style="text-align:right">
        <a href="{{ page.next.url | prepend: site.baseurl }}">
          <p class="subtitle is-5" style="margin: 0 0 0 0">
            Next
          </p>
        </a>
      </div>
    {% endif %}
  </div>

</div>
