@charset "utf-8";
@import "sass/utilities/_all.sass";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$family-serif: "Roboto Slab", serif;

$family-primary: $family-sans-serif;
$title-family: $family-serif;

$title-weight: $weight-normal;

$navbar-padding-horizontal: 4em;
$section-padding: 1em;

// Import only what you need from Bulma
@import "sass/base/_all.sass";
@import "sass/grid/columns.sass";
@import "sass/elements/container.sass";
@import "sass/elements/title.sass";
@import "sass/elements/image.sass";
@import "sass/elements/button.sass";
@import "sass/elements/icon.sass";
@import "sass/elements/box.sass";
@import "sass/layout/section.sass";
@import "sass/layout/footer.sass";
@import "sass/components/level.sass";
@import "sass/components/card.sass";
@import "sass/components/navbar.sass";
@import "sass/form/_all.sass";
