@charset "utf-8";

@import "sass/utilities/_all.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$family-serif: "PT Serif", serif;

$family-primary: $family-sans-serif;
$title-family: $family-serif;

$title-weight: $weight-normal;

// Import only what you need from Bulma
@import "sass/base/_all.sass";
@import "sass/grid/columns.sass";
@import "sass/elements/container.sass";
@import "sass/elements/title.sass";
@import "sass/elements/image.sass";
@import "sass/layout/section.sass";
@import "sass/layout/footer.sass";
@import "sass/components/level.sass";
@import "sass/components/card.sass"
