<!DOCTYPE HTML>

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/mystyles.css" | relative_url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <header>
    <nav class="level">
      <div class="level-item has-text-centered">
        <div class="container">
          <br>
          <a class="title is-3" href="/">{{ site.title }}</a>
        </div>
      </div>
    </nav>

    <hr style="width: 10%; margin: 1em auto;">
  </header>

  <body>
    <section class='container'>
      <main>
        {{ content }}
      </main>
    </section>
  </body>

</html>
