<!DOCTYPE HTML>

<html lang="en">

  {% include head.html %}

  <header>
    <div class="container has-text-centered">
      <br>
      <a class="title is-3" style="margin: 0 0" href="/">{{ site.title }}</a>
      <p style="margin: 0 0 0 0">
        {{ site.description }}
      </p>
    </div>
  </header>

  <body>
    <section class="section">
      <div class="columns">

        <div class="column"></div>

        <div class="column is-full-mobile is-6-tablet is-6-desktop is-6-widescreen is-6-fullhd">
          {{ content }}
        </div>

        <div class="column is-2">
          {% include sidebar.html %}
        </div>

        <div class="column"></div>

      </div>
    </section>

  </body>

  <footer style="padding: 2rem 3rem" class="footer has-background-white">
    <div class="container has-text-centered">

      <!-- RSS Feed -->
      <a href="{{ site.baseurl }}/feed.xml">
        <i class="fa-rss fa"></i>
      </a>

    </div>
  </footer>

</html>
