<!DOCTYPE HTML>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144214802-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144214802-3');
    </script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <header>
    <div class="container has-text-centered">
      <br>
      <a class="title is-3" style="margin: 0 0" href="/">{{ site.title }}</a>
      <p style="margin: 0 0 0 0">
        {{ site.description }}
      </p>
      {% for page in site.data.pages %}
        <a href={{ page.link }} target="{% if page.external %}_blank{% endif %}">
           {{ page.name }}
        </a>
        {% unless forloop.last %}&middot;{% endunless %}
      {% endfor %}
    </div>
  </header>

  <body>
    <section class="section">
      <div class="columns">

        <div class="column"></div>

        <div class="column is-full-mobile is-7-tablet is-7-desktop is-7-widescreen is-7-fullhd">
          {{ content }}
        </div>

        <div class="column"></div>

      </div>
    </section>
  </body>

</html>
