---
layout: default
---



{% for p in site.posts limit: 1 %}

  <div class="columns">

    {% if p.image and p.image != '' %}

      <div class="column is-one-third">
      <figure class = "figure">
        <img src="{{ p.image }}" alt="">
      </figure>
    </div>

    {% endif %}

    {% capture wordcount %}
      {{ p.content | number_of_words }}
    {% endcapture %}

    <div class="column">

      <!-- Post title -->
      <div class="container">
        <a class="title is-5" href="{{ p.url }}">{{ p.title }}</a>
        <p>{{ p.date | date: "%B %-d, %Y" }} &middot {{ wordcount | divided_by: 200 }} min read</p>
        <p style="margin: 0 0 0;">{{ p.content | strip_html | strip_newlines | truncate: 350 }}</p>
      </div>

    </div>

  </div>
  <!-- <hr style="margin: 0 0 2em"> -->

{% endfor %}

<hr>

<!-- {% assign rows = site.posts.size | divided_by: 2.0 | ceil %} -->
{% assign rows = 2 %}
{% for i in (1..rows) %}
  {% assign offset = forloop.index0 | times: 2 | plus: 1 %}

  <div class="columns">
    {% for post in site.posts limit:2 offset:offset %}
      <div class="column">
        <a class="title is-6" href="{{ post.url }}">{{ post.title }}</a>
        <p style="margin: 0 0 0;">{{ post.date | date: "%B %-d, %Y" }}</p>
        <p style="margin: 0 0 0;">{{ post.content | strip_html | strip_newlines | truncate: 100 }}</p>
      </div>
    {% endfor %}
  </div>

{% endfor %}
