---
layout: default
---

<!-- Post metadata -->
<head>
  {% include meta.html %}
</head>

<section class="section">
  <!-- Post header: title, author, date, anchor link if applicable -->
  <header>
    {% if page.anchor_link %}

      <div class="container" style="text-align:center">
        <p class="title is-4">{{ page.title }}</p>
        <p class="subtitle is-6">
          {{ page.author }} &middot
          {{ page.date | date: "%B %-d, %Y" }}
          {% if p.tags.size > 0 %} &middot {{ p.tags | join: " &middot " }} {% endif %}
        </p>
      </div>

      <div class="container" align="center">
        <a class="button is-success" target="_blank" href="{{ page.anchor_link }}">Listen Now</a>
      </div>

      <br>

    {% else %}

      <div class="container" style="text-align:center">
        <p class="title is-4">{{ page.title }}</p>
        <p class="subtitle is-6">{{ page.date | date: "%B %-d, %Y" }}</p>
      </div>

      {% if page.image %}
        <img src="{{ page.image }}" alt="{{ page.caption }}" style="width:300px; margin: 0px 20px 20px 0px;" align ="left">
      {% endif %}

    {% endif %}
  </header>

  <!-- Post body: content and paginator -->
  <body>

    {{ content }}

    <hr>

    <!-- Paginator -->
    <div class="columns is-mobile">

      <div class="column">
        {% if page.previous.url %}
          <div class="container">
            <a href="{{ page.previous.url | prepend: site.baseurl }}">
              <p class="title is-5" style="margin: 0 0 0 0">
                {{ page.previous.title }}
              </p>
            </a>
            <p class="subtitle is-6">{{ page.previous.date | date: "%B %-d, %Y" }}</p>
          </div>
        {% endif %}
      </div>

      <div class="column">
        {% if page.next.url %}
          <div class="container" style="text-align:right">
            <a href="{{ page.next.url | prepend: site.baseurl }}">
              <p class="title is-5" style="margin: 0 0 0 0">
                {{ page.next.title }}
              </p>
            </a>
            <p class="subtitle is-6">{{ page.next.date | date: "%B %-d, %Y" }}</p>
          </div>
        {% endif %}
      </div>

    </div>
  </body>
</section>
