---
layout: default
---

<head>
  {% include meta.html %}
</head>

<a href="{{ page.url }}">
  <p class="title is-4" style="margin: 0 0 .2em 0">
    {{ page.title }}
  </p>
</a>
<p class="is-size-6" style="margin: 0 0 0 0">
  {{ page.date | date: "%B %-d, %Y" }}
  &middot {{ site.author }}
</p>
<p class="is-size-6">
  {% if page.podcast %}
    <a target="_blank" href="{{ site.spotify }}">Spotify</a>
    &middot; <a target="_blank" href="{{ site.apple_podcasts }}">Apple Podcasts</a>
  {% endif %}
</p>

{{ content }}

<hr>

{% include paginator.html %}
