---
layout: default
---

<section class="section">

  <p>{{ content }}</p>

  <div class="columns">
    <div class="column"></div>

    <div class="column is-half">
      <form name="subscribe" method="POST" data-netlify-recaptcha="true" data-netlify="true" netlify>
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" name="email" placeholder="Email address">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="container has-text-centered">
          <div data-netlify-recaptcha="true"></div>
        </div>

        <div class="field">
          <div class="control has-text-centered">
            <button type="submit" class="button">Subscribe</button>
          </div>
        </div>

      </form>
    </div>

    <div class="column"></div>

  </div>

</section>
